body{
    background-image:
            url("https://res.cloudinary.com/dhg2lpfid/image/upload/v1569533398/java_large_slyrx0.webp");
    background-size: cover;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h5{
    text-align: left;
}

h6{
    text-align: left;
    font-style: italic;
}

.jumbotron{
    background-color: tan;
    align-self: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.jumbotron.card{
    align-self: center;
    text-align: left;
    width: 45rem;
}

.jumbotron.card.card-body{
    background-color: lightgoldenrodyellow;
}

.card{
    align-self: center;
    text-align: left;
    width: 25rem;
    background-color: lightgoldenrodyellow;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}