<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About the Boot Camp</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <h1><strong>About the Boot Camp</strong></h1>
        <br>
        <div class="container">
            <div class="jumbotron" style="background-color: lightgoldenrodyellow">

                <p>The author and nearly 30 others are participating in an 8-week
                    intensive boot camp in Java Web Development at Montgomery
                    College's Gaithersburg, Maryland, Business Training Center.
                    The boot camp runs five days a week from 9-5.  The boot camp is
                    part of the America's Promise Grant program and free to
                    qualifying participants. It is a total of 320 non-credit hours. </p>
                <p> The curriculum covers Program Design, Algorithms, Core Java,
                    Object-Oriented Java, HTML, CSS, Bootstrap, SpringBoot, SQL,
                    Databases, Relationships, and Security.</p>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>