<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author Profile</title>
    <div th:insert="base :: head"></div>
    <style>

    </style>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron" style="width: 35rem">
        <h1>About the Author</h1>
        <br>
        <div class="container">
            <div class="card" style="width: 25rem">
                <img src="..." class="card-img-top" alt="Katherine K Olsen">
                <div class="card-body">
                    <p class="card-text">para and links</p>
            </div>
        </div>
    </div>
</div>
</div><div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>