<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Base</title>
    <div th:fragment="head">
        <meta charset=" UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../myStyles.css">
    </div>
</head>

<body>
<div th:fragment="navlinks" style="background-color: saddlebrown">
    <nav class="nav">
        <a class="nav-link"  style="color: whitesmoke" href="/">Home</a>
        <a class="nav-link"  style="color: whitesmoke" href="/aboutBootcamp">About the Boot Camp</a>
        <a class="nav-link"  style="color: whitesmoke" href="/authorProfile">Author Profile</a>
    </nav>
</div>
<div th:fragment="bootstrapScripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</div>
</body>

<div th:fragment="footer"
     style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px;
     width: 100%;
     text-align: center;
     background-color: saddlebrown;
     color: whitesmoke"
     font-family="'Gurajada', serif">
    &#0169; Copyright Katherine K. Olsen 2019. All rights reserved.
</div>
</html>