<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>In the Loop</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="jumbotron" style="background-color: lightgoldenrodyellow">
                <h5>In the Loop</h5>
                <h6>Posted September 26, 2019</h6>
                <br>
                <p>There are two classes of loops:  </p>
                <ul>
                    <li><b>WHILE Loops</b>, which are controlled by a
                        <u>condition</u>: while a condition is true,
                        do something.  There are two types of while
                        loops:
                        <ul>
                            <li><b>DO...WHILE Loops</b>: First do something, then
                                check if a condition is true and if it is,
                                repeat. With do-while loops, the loop is always
                                executed at least once.</li>
                            <li><b>WHILE Loops</b>: First check if a condition is true
                                and if it is, do it.  If it is not true, do not do it.
                                With plain while loops, the loop will never be executed
                                if the condition is false the first time the computer
                                checks.</li>
                        </ul>
                    </li>
                    <li><b>FOR Loops</b>, which are controlled by a <u>cap</u> on the
                        number of times the loop is repeated.  There are two types
                        of for loops:
                        <ul>
                            <li><b>Regular FOR Loops</b>: Repeat the loop for a certain
                                <u>number</u> of times.  Regular for loops can be used
                                universally. </li>
                            <li><b>FOR ENHANCED Loops</b>: Repeat the loop for a whole
                                <u>list</u>, however long. For enhanced loops cannot be
                                used with certain objects such as arrays.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>