<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send In the Clones</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="jumbotron" style="background-color: lightgoldenrodyellow">
                <h5>Send In the Clones</h5>
                <h6>Posted September 27, 2019</h6>
                <br>
                <p>You can copy or download the files in an existing repository on
                    GitHub using Clone. </p>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>