<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send In the Clones</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="jumbotron" style="background-color: lightgoldenrodyellow">
                <h5>Send In the Clones</h5>
                <h6>Posted September 27, 2019</h6>
                <br>
                <p>You can copy or download the files in an existing repository on
                    GitHub using Clone. This is useful for downloading files at home
                    that you worked on in class or if you want to run code someone
                    else has posted to GitHub.</p>
                <p>In Github, you would click on the repository name, then click on
                    the green "Clone or Download" button on the right-hand side.
                    Click on the clipboard icon in the pop-up window to copy the URL.</p>
                <p>Go to IntelliJ (or other IDEA) and click on File - New - Project
                    from Version Control - Git. Paste the URL you copied into the
                    Clone Repository pop-up window.</p>
                <p>You will then have access to the project on your computer.</p>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>