<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <h1><strong>The Java Bean Blog</strong></h1>
        <br>
        <h3>Enjoy my blog posts over a nice hot cup of Java!</h3>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>Send In the Clones</strong></h5>
                <h6 class="card-text">Posted September 27, 2019</h6>
                <p class="card-text">You can copy or download the files in an existing
                    repository on GitHub using Clone. <a href="/gitHub1">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>Push Me Pull You</strong></h5>
                <h6 class="card-text">Posted September 27, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/gitHub2">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>Dante's Algorithm</strong></h5>
                <h6 class="card-text">Posted September 27, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/programDesignAlgorithms1">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>Structure Theorem</strong></h5>
                <h6 class="card-text">Posted September 27, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/programDesignAlgorithms2">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>There's A Method to My Madness</strong></h5>
                <h6 class="card-text">Posted September 26, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/coreJava1">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>In the Loop</strong></h5>
                <h6 class="card-text">Posted September 26, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/coreJava2">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>A Class of Her Own</strong></h5>
                <h6 class="card-text">Posted September 26, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/objectOrientedJava1">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>The Object of My Affections</strong></h5>
                <h6 class="card-text">Posted September 26, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/objectOrientedJava2">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>Pull Your Code Up By Its Bootstraps</strong></h5>
                <h6 class="card-text">Posted September 26, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/htmlCssBootstrap1">View More</a></p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body" style="background-color: lightgoldenrodyellow">
                <h5 class="card-title"><strong>A Wrinkle In Thymeleaf</strong></h5>
                <h6 class="card-text">Posted September 26, 2019</h6>
                <p class="card-text">Yada yada yada. <a href="/htmlCssBootstrap2">View More</a></p>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>