<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <h1><strong>The Java Bean Blog</strong></h1>
        <br>
        <h3>Enjoy my blog posts over a nice hot cup of Java!</h3>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>First Blog Post Title</strong></h5>
                <h6 class="card-text">Posted September 26, 2019</h6>
                <p class="card-text">On GitHub yada yada yada. <a href="/gitHub1">View More</a></p>

            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer" style="position: fixed"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>