<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A Class of Her Own</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="jumbotron" style="background-color: lightgoldenrodyellow">
                <h5>A Class of Her Own</h5>
                <h6>Posted September 26, 2019</h6>
                <br>
                <p>A Class, the name of which is always capitalized,
                    is used for a category of items, such as Person
                    or Car. A class will have "private" variables and
                    "public" methods. The combination of these into a
                    class is called "encapsulation."</p>
                <p> Encapsulation permits other aspects of your program
                    to use the class' methods without being able to change
                    the class' variables, although they can get or set
                    variables.</p>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>