<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inherit the Wind Class</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="jumbotron" style="background-color: lightgoldenrodyellow">
                <h5>Inherit the Wind Class</h5>
                <h6>Posted September 27, 2019</h6>
                <br>
                <p>There are two types of relationships between a class and its
                    sub-classes:</p>
                <ul>
                    <li><b>Inheritance</b>: an <b>IS A</b> relationship. With
                    inheritance, each sub-class is a type of the main class.  For
                    example, if the main class is Animal, sub-classes might be Dog,
                    Cat, Fish. A sub-class <u>extends</u> a main class.</li>
                    <li><b>Composition</b>: a <b>HAS A</b> relationship. With
                        composition a class is composed of its sub-classes.  For
                        example, a Car is composed of, or has a, Engine, Doors,
                        and Wheels.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>